.profile {
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 9fr;
  min-height: calc(100vh - 53px - 40px);
  padding: 20px 100px;
}

@media(max-width: 680px) {
  .profile {
    grid-template-columns: 1fr;
    padding: 20px 0;
  }
}

.profile-info {
  grid-column: 0 / 1;
}

@media(max-width: 680px) {
  .profile-info {
    justify-self: center;
  }
}

.profile-img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 26px;
  line-height: 1.25;
  font-weight: 600;
}

.profile-username {
  font-size: 20px;
  line-height: 24px;
  color: #666;
  font-weight: 300;
  margin-bottom: 10px;
}

.profile-count {
  color: #666;
}

.counter {
  color: #24292e;
  font-weight: 600;
}

.repositories {
  grid-column: 1 / 2;
}

@media(max-width: 680px) {
  .repositories {
    grid-column: 0 / 1;
  }
}