.input {
  background-color: hsla(0,0%,100%,.125);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 400;
  height: 28px;
  margin-right: 5px;
  padding: 0 3px;
  width: 272px;
}

@media(max-width: 440px) {
  .input {
    width: 50vw;
  }
}

.input:focus {
  outline: none;
}

.search-button {
  background-color: hsla(0,0%,100%,.125);
  border: none;
  border-radius: 6px;
  color: #fff;
  height: 28px;
  width: 75px;
}