.repositories-container {
  display: grid;
  gap: 20px;
  grid-template: 100px 100px / 1fr 1fr;
}

@media(max-width: 680px) {
  .repositories-container {
    padding: 0 20px;
  }
}

@media(max-width: 999px) {
  .repositories-container {
    grid-template: 100px 100px 100px 100px / 1fr;
  }
}

.repository-box {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px
}

.repository-name {
  color: #0366d6;
  font-weight: 600;
  font-size: 14px;
}

.repository-language {
  color: #586069;
  font-weight: 400;
  font-size: 12px;
}